/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&family=Lobster&family=Signika+Negative&family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;400&family=Lobster&family=Signika+Negative&family=Urbanist:wght@100&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&family=Lobster&family=Signika+Negative&family=Urbanist:wght@100&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&family=Lobster&family=Signika+Negative&family=Urbanist:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&family=Lobster&family=Signika+Negative&family=Urbanist:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&family=Lobster&family=Signika+Negative&family=Urbanist&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Lobster&family=Signika+Negative&family=Urbanist:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --bs-secondary-color: #29a9fd;
    --bs-supporting-color: #c850c0;

}

h1, h2, h3, h4, h5{
    font-family: 'Lexend', sans-serif;
    color: var(--bs-dark-color);

}

h1{
    font-size: 3.8rem;
}

h2{
    line-height: 4rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button a{
    font-size: 1.15rem!important;
    letter-spacing: 0.03rem;
    word-spacing: 1rem;
}

.common-heading{
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.001!important;
}

.common-title{
    margin-bottom: 4.2rem;
}

.common-section{
    padding: 0 0 9rem 0;
}

/* Navbar */

.nav-link{
    color: var(--bs-main-color);
    font-weight: bold;
}

.nav-link:hover{
    color: var(--bs-secondary-color)!important;
}

/* Main Section Start */

.hero-section .container{
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main{
    height: 80vh;
    position: relative;
}

.bg-color{
    background-color: var(--bs-dark-primary);
}

.text-light-grey{
    color: var(--bs-primary-color);
}

.bg-theme{
    color: var(--bs-supporting-color);
    font-weight: bold;
    background-image: none!important;
}

.hero-video--section{
    width: 30rem;
    border-radius: 2rem;
}
/* ShapeDivider */
.custom-shape-divider-bottom-1689678289 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689678289 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1689678289 .shape-fill {
    fill: #FFFFFF;
}

/* Services Section */

.services-section{
    padding: 6rem 0 3rem 0!important;
}

.icon-span{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--bs-secondary-color);
    color: var(--bs-main-color);
}

.card-box:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    color: #1a1d20;
}

/* Digital Product Showcase Start */

.more-info-section{
    background-image: linear-gradient(rgba(22, 22, 22, 0.8), rgba(22, 22, 22, 0.9)), url(/images/BackgroundImg2.jpg);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6rem 0;
    overflow: hidden;
}

/* .more-info-section .img-section{
    position: relative;
} */

.more-info-section .img-section img{
    width: 70%;
}

/* Online Mode Start */

.business-section{
    padding-top: 3rem;
}

/* carousel Start */
.carousel .card{
    background-color: #262631;
    color:var(--bs-main-color);
    transition: all 0.3s linear;
}

.carousel-inner .card p{
    color: var(--bs-main-color);
}

.carousel-inner .card:hover{
    background-color: var(--bs-main-color);
    color: var(--bs-dark-color);
}

.carousel-inner .card:hover p{
    color: var(--bs-dark-color);
}

.fa-star{
    color: var(--bs-supporting-color);
}

.carousel-indicators{
    bottom: -5rem;
}

.carousel-indicators [data-bs-target]{
    width: 0.7rem;
    height: 0.7rem;
    background-color: var(--bs-secondary-color);     /*Blue Color Problem*/
}

/* Expert Panel Start */
.text-grey{
    color: gray;
}

/* Contact Section Start */

.contact-section{
    position: relative;
}

.custom-shape-divider-top-1689781943 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1689781943 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1689781943 .shape-fill {
    fill: #FFFFFF;
}

.contact-section .common-title{
    padding-top: 6rem;
}

.contact-section .form-section{
    width: 50%;
}

/* Footer Section Start */

.main-footer-section{
    padding: 0 0 4rem 0;
    color: var(--bs-main-color);
}

.contact-div{
    background-color: #222;
}

.icon-div{
    width: 5rem;
    height: 5rem;
}

/* Media queries for responsiveness */

@media screen and (max-width: 1200px) {

    .hero-video--section{
        width: 20rem;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 998px) {
    .navbar-toggler{
        border-color: var(--bs-main-color);
    }

    .navbar-toggler-icon{
        color: var(--bs-main-color);
        background-color: var(--bs-main-color);
    }

    h1{
        font-size: 2.4rem;
    }

    section .common-heading{
        font-size: 2rem;
    }

    section .para-width{
        width: auto;
    }

    .hero-section{
        width: 100%;
    }

    h2{
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    .more-info-section{
        text-align: center;
    }
}

